<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">@ViewData["Sidebar.Title"]</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
    </div>
</div>
<div class="b-divider"></div>
<div class="container">
    <div class="caption-top fs-5 fw-semibold" >
        <h4></h4>
    </div>
    <div class="description">
        <label class="text-muted">@ViewData["TaskInfo.Description"]:</label>
        <p></p>
    </div>
    <div class="executors">
        <label class="text-muted">@ViewData["TaskInfo.Executors"]:</label>
        <p></p></div>
    <div class="time">
        <label class="text-muted">@ViewData["TaskInfo.Time"]:</label>
        <p></p></div>
    <div class="status">
        <label class="text-muted">@ViewData["TaskInfo.Status"]:</label>
        <p class="statustext"></p></div>
</div>
<div class="controls">
    <div title="@ViewData["Controls.Tip.Delete"]" class="btn delete-btn"><img width="45px" height="45px" src="/img/delete.svg"></div>
    <div title="@ViewData["Controls.Tip.Edit"]" class="btn edit-btn"><img src="/img/edit.svg"></div>
    <div title="@ViewData["Controls.Tip.Create"]" class="btn add-btn"><img src="/img/new.svg"></div>
</div>
<div class="add">
    <div class="col-md-7 col-lg-8 pt-2">
        <h4 class="mb-3">@ViewData["Form.Header"]</h4>
        <form class="needs-validation">
            <div class="row g-3">
                <div class="col-12">
                    <label for="name-input" class="form-label">@ViewData["Form.Name"]</label>
                    <input type="text" class="form-control" id="name-input" placeholder="@ViewData["Form.Name.Placeholder"]" value="" required="">
                    <div class="invalid-feedback">
                        @ViewData["Form.Name.Invalid"]
                    </div>
                </div>

                <div class="col-12">
                    <label for="descriptionTextArea" class="form-label">@ViewData["Form.Description"]</label>
                    <div class="input-group has-validation">
                        <textarea class="form-control" rows="3" id="descriptionTextArea" placeholder="@ViewData["Form.Description.Placeholder"]"></textarea>
                        <div class="invalid-feedback">
                            @ViewData["Form.Description.Invalid"]
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="executors" class="form-label">@ViewData["Form.Executors"]</label>
                    <input type="text" class="form-control" id="executors" placeholder="@ViewData["Form.Executors.Placeholder"]">
                    <div class="invalid-feedback">
                        @ViewData["Form.Executors.Invalid"]
                    </div>
                </div>
                <label for="endDate" class="form-label">@ViewData["Form.EndDate"]</label>
                <div class="col-12">
                    <input type="date" class="form-control" id="endDate" placeholder="12.01.1999">
                    <div class="invalid-feedback">
                        @ViewData["Form.EndDate.Invalid"]
                    </div>
                </div>
                <div class="col-12">
                    <label for="parentID" class="form-label">@ViewData["Form.ParentID"]<span class="text-muted"> (@ViewData["Form.ParentID.Optional"])</span></label>
                    <select id="parentID" class="form-control">
                        <option></option>
                        @{
                            foreach (var task in Model.GetNotCompletedTasks)
                            {
                                <option value="@task.TaskID">@task.Name</option>
                            }

                        }
                    </select>
                </div>

            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">@ViewData["Form.Button.Create"]</button>
            <button class="w-100 btn btn-primary btn-lg" type="submit">@ViewData["Form.Button.Edit"]</button>
        </form>
    </div>
</div>
<div class="confirmation">
    <p>@ViewData["Confirmation.Title"]</p>
    <div class="btn-group">
        <button id="confirm" class="btn btn-outline-secondary" type="button">@ViewData["Confirmation.Yes"]</button>
        <button id="reject" class="btn btn-outline-secondary" type="reset">@ViewData["Confirmation.No"]</button>
    </div>
</div>
<div class="cover"></div>